
.part1 > h2{
    color: red;
 }
.part1 > p {
    background-color: black;
    color: white;
}

.part2 > h2 {
    color: green;
 }

 .part2 > p {
    color: green;
    background-color: darkred;
 }
 .part3 > p {
    color: green;
 }

 .part3 > div {
    color: green;
 }

 .part4 > p {
    color: green;
 }
 
 
 .csym019{
display: inline;
    width: 48%;
    float:inline-start;
    background-color: yellow;
    border: 5px solid black;
 }
.csym015{
    width: 48%;
    float:inline-end;
    background-color: lightblue;
    border: 5px solid black;
}

